@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Averta Demo PE Regular";
  src: url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.eot");
  src: url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.svg#Averta Demo PE Regular")format("svg");
}
*{
  font-family: "Averta Demo PE Regular";
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}